extends template/layout
block var

block content
  .news__preview
    +breadcrumbs({'news': 'news'}, 'Wheel Alignment & Tyre Balancing')
    .container
      .index__title Wheel Alignment <br> & Tyre Balancing
      .news__date 05.09.2018
      +image-wrap-fancy('news-8.png')
      p.news__text As a broker with extensive experience in logistics and with very little overheads, therefore allowing us
        | to offer super competitive pricing on a massive range of the 4WD, SUV, Commercial along with passenger wheels and
        | tyres to all corners of Australia.
      p.news__text Wheel Alignment and Tyre Balancing are pivotal for ensuring optimum grip for the safety of the driver and
        | passengers, along with preservation of vehicle components and tires. Wheel Alignment plays a major role in the safety
        | of the vehicle and how the vehicle drives. Specialised equipment is used to adjust the vehicles suspensions and the way
        | the tyres make contact on the road. Misalignment can occur for several reasons, but first, it is important to understand
        | how Wheel Alignments work and its components.
      .image-wrap-50
        +image-wrap-fancy('news-6.png')
        +image-wrap-fancy('news-7.png')
      .news__title Wheel Alignment & Tyre Balancing
      p.news__text Wheel Alignment and Tyre Balancing are pivotal for ensuring optimum grip for the safety of the driver and
        | passengers, along with preservation of vehicle components and tires. Wheel Alignment plays a major role in the
        | safety of the vehicle and how the vehicle drives. Specialised equipment is used to adjust the vehicles suspensions
        | and the way the tyres make contact on the road. Misalignment can occur for several reasons, but first, it is
        | important to understand how Wheel Alignments work and its components.



