-
  var
  title = '',
  all = [
    '78.png',
    'american-racing.png',
    'diesel.png',
    'Kumho-Tire.png',
    'fuel.png',
    'atturo.png',
    'hussla.png',
    'Monsta1.png',
    'helo.png',
    'KMC-wheels.png',
    'kmc.png',
    'Moto-Metal.png',
    'bfgoodrich-logo.png',
    'Nitto-logo.png',
    'comforser.png'
  ],
  w1 = [
    '78.png',
    'american-racing.png',
    'diesel.png',
    'kmc.png'
  ],
  w2 = [
  'hussla.png',
  'Monsta1.png',
  'helo.png',
  'KMC-wheels.png'
  ],
  w3 = [
  'Moto-Metal.png',
  'bfgoodrich-logo.png',
  'Nitto-logo.png',
  'comforser.png'
  ],
  newsList = [
    {
      image: 'news-1.png',
      date: '20.09.2018',
      title: 'Wheel Alignment & Tyre Balancing',
      description: 'Wheel Alignment and Tyre Balancing are pivotal for ensuring optimum grip...'
    },
    {
      image: 'news-2.png',
      date: '20.09.2018',
      title: 'Wheel Alignment & Tyre Balancing',
      description: 'Wheel Alignment and Tyre Balancing are pivotal for ensuring optimum grip...'
    },
    {
      image: 'news-3.png',
      date: '20.09.2018',
      title: 'Wheel Alignment & Tyre Balancing',
      description: 'Wheel Alignment and Tyre Balancing are pivotal for ensuring optimum grip...'
    },
    {
      image: 'news-4.png',
      date: '20.09.2018',
      title: 'Wheel Alignment & Tyre Balancing',
      description: 'Wheel Alignment and Tyre Balancing are pivotal for ensuring optimum grip...'
    },
    {
      image: 'news-5.png',
      date: '20.09.2018',
      title: 'Wheel Alignment & Tyre Balancing',
      description: 'Wheel Alignment and Tyre Balancing are pivotal for ensuring optimum grip...'
    },
  ],
  catalogList = [
    {
      modify: 'sale new',
      sale: '-30%',
      image: 'wheel-1.png',
      name: 'fuel f-313l',
      desc: '10.5x20/5x120 ET42 D74.1 Gloss-graphite 10.5x20/5x120 ET42 D74.1 Gloss-graphite',
      oldPrice: '3602.00',
      newPrice: '1008.60'
    },
    {
      modify: '',
      image: 'wheel-2.png',
      name: 'fuel f-313l',
      desc: '10.5x20/5x120 ET42 D74.1 Gloss-graphite 10.5x20/5x120 ET42 D74.1 Gloss-graphite',
      oldPrice: '362.00',
      newPrice: '108.60'
    },
    {
      modify: '',
      image: 'wheel-3.png',
      name: 'fuel f-313l fuel f-313l fuel f-313l',
      desc: '10.5x20/5x120',
      oldPrice: '362.00',
      newPrice: '108.60'
    },
    {
      modify: 'new',
      image: 'wheel-4.png',
      name: 'fuel f-313l',
      desc: '10.5x20/5x120 ET42 D74.1 Gloss-graphite',
      oldPrice: '362.00',
      newPrice: '108.60'
    },
    {
      modify: '',
      image: 'wheel-5.png',
      name: 'fuel f-313l',
      desc: '10.5x20/5x120 ET42 D74.1 Gloss-graphite',
      oldPrice: '362.00',
      newPrice: '108.60'
    },
    {
      modify: '',
      image: 'wheel-3.png',
      name: 'fuel f-313l',
      desc: '10.5x20/5x120 ET42 D74.1 Gloss-graphite',
      oldPrice: '362.00',
      newPrice: '108.60'
    },
    {
      modify: 'new',
      image: 'wheel-1.png',
      name: 'fuel f-313l',
      desc: '10.5x20/5x120 ET42 D74.1 Gloss-graphite',
      oldPrice: '362.00',
      newPrice: '108.60'
    },
    {
      modify: 'new',
      image: 'wheel-2.png',
      name: 'fuel f-313l',
      desc: '10.5x20/5x120 ET42 D74.1 Gloss-graphite',
      oldPrice: '362.00',
      newPrice: '108.60'
    },
    {
      modify: 'new',
      image: 'wheel-3.png',
      name: 'fuel f-313l',
      desc: '10.5x20/5x120 ET42 D74.1 Gloss-graphite',
      oldPrice: '362.00',
      newPrice: '108.60'
    },
    {
      modify: '',
      image: 'wheel-4.png',
      name: 'fuel f-313l',
      desc: '10.5x20/5x120 ET42 D74.1 Gloss-graphite',
      price: '108.60'
    },
    {
      modify: '',
      image: 'wheel-5.png',
      name: 'fuel f-313l',
      desc: '10.5x20/5x120 ET42 D74.1 Gloss-graphite',
      price: '108.60'
    },
    {
      modify: '',
      image: 'wheel-3.png',
      name: 'fuel f-313l',
      desc: '10.5x20/5x120 ET42 D74.1 Gloss-graphite',
      price: '108.60'
    },
  ],
  catalog_item = {
    image: 'wheel-1.png',
    name: 'fuel f-313l',
    desc: '10.5x20/5x120 ET42 D74.1 Gloss-graphite',
    oldPrice: '362.00',
    newPrice: '108.60'
  }








