-
  var
  tyres = {
  name: 'tyres',
  url: '#',
  submenu: [
  'kumno',
  'toyo',
  'nitto',
  'atturo',
  'monstra',
  'comforsor',
  'black bear',
  'bf.goodrich'
  ]
  },
  wheels = {
  name: 'wheels',
  url: '#',
  submenu: [
  'American',
  'Racing',
  'Helo',
  'Moto',
  'Metal',
  'KMC',
  'XD',
  'Fuel',
  'Hussla',
  'Diesel'
  ]
  },
  packages = {
  name: 'packages',
  url: '#',
  submenu: ['16inch', '17inch', '18inch', '20inch']
  },
  service = {
  name: 'service',
  url: '#',
  submenu: ['delivery', 'shipping', 'fit balance and disposal']
  },
  gallery = {
  name: 'gallery',
  url: 'catalog.html'
  },
  blog = {
  name: 'blog',
  url: '#',
  submenu: ['news', 'events', 'FAQ']
  },
  inHouseExperts = {
  name: 'in-house-experts',
  url: 'profile.html'
  },
  contacts = {
  name: 'contacts',
  url: 'contacts.html'
  },
  menuHeader = [
    tyres,
    wheels,
    packages,
    service,
    inHouseExperts,
    blog,
    contacts
  ],
  menuDevice = [
    tyres,
    wheels,
    packages,
    service,
    gallery,
    inHouseExperts,
    blog,
    contacts
  ],
  email = 'example@gmail.com',
  phone = '+39 (333)',
  phone_bold = '222 33 66'









